.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    margin-top: 40px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  #submit_button {
    width: 100%;
  }
  