
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #adacb5;
  padding: 1px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 1%;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding-top: -90%;
  margin: 1%;
}

.hero {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  color: #ffffff;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}
.img1{
  width: 8%;
  height: 18%;
  margin-right:90%;
  margin-top: -7%;
}
.img2{
 width: 100%;
 height: 10%;
 text-align: center;
 margin-top: -27%;
}
.divText{
  margin-top: 415%; 
  margin-left: -66%; 

}
.text{ 
  font-weight: bolder;
  color: black; 
  font-size: 150%;
  font-family: Calisto MT;
  font-style: oblique;
}
button{
    border-radius: 16%;
    padding: 1%;
    border: 15%;
    font-size: 18px;
    color:black;
    background-color:white;
    cursor:pointer;
}
#divmilieu{
   border: outset;
   border-left: -140%;
   padding-left:-10%;
}
.formulaire{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}
.ligne{
    padding:15px;
    border-radius: 15px;
    border-color:  black;
    margin-bottom: 15px;
    width: 40%;
    height: 150%;

}
.butt{
    border-radius: 16px;
    padding: 15px;
    border: none;
    font-size: 18px;
    color: rgb(243, 235, 235);
    background-color:rgb(31, 150, 150);
    cursor:pointer;
    margin-left:-15%;
}
.bt{
    border-radius: 16px;
    padding: 15px;
    border: none;
    font-size: 18px;
    color: rgb(243, 235, 235);
    background-color:rgb(31, 150, 150);
    cursor:pointer;
   color: black;
}
.bt1{
    border-radius: 16px;
    padding: 15px;
    border: none;
    font-size: 18px;
    color: black;
    background-color:rgb(31, 150, 150);
    cursor:pointer;
}