<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="style2.css">
<body>
    <header>

    <nav class="nav" style="text-align: left;">
      <ul>
        <li><a href="#" style="margin-left: 50%;">Accueil</a></li>
        <li><a href="#">À propos</a></li>
        <li class="li2"><a href="#">Aide</a></li>
        <li><a href="Connexion.html"><button class="bt" type="submit">Se connecter</button></a></li>
        <li><a href="s'inscrire.html"><button class="bt1" type="submit">Inscription</button></a></li>
      </ul>
    </nav>
  </header>
  <img class="img1" src="ifri.jpg">
  
     <img style="margin-top: -1%; margin-right: -10%;" class="img2" src="5-razones-por-las-que-usar-un-crm-para-agencias-inmobiliarias.jpg">
     <div align="center">
           
           
      </div>
  
    
    <h2 class="text" style="margin-top: -20%; margin-left: 20%; font-size: 300%;">Bienvenu Sur IFRI</h2><br>
    <h2 class="text"style="margin-top: -5%; margin-left: 20%;font-size: 300%;" >Emploi du temps</h2>

    <P style="margin-left: 20%;font-style: oblique; font-size: 120%;margin-top: -15px; color: white;" >Consultez votre emploi du temps</P>
    <p style="margin-left: 20%;margin-top: -9px; font-style: oblique; font-size: 120%; color: white; " >et soyez au courant de tout</p>
    <br><br><br><br><br><br><br><br>
  <div>
    <img src="351578898_617598126994747_8714655776330872970_n.jpg" style="width: 25%; height: 25%; margin-left: 10%;margin-top: -4%;"><br><br>
    <p style="margin-left: 60%;margin-top: -17%; color: #00a8f3; font-size: 200%;">C'est quoi IFRI Emploi du temps ?</p>
    <P style="margin-left: 60%; font-size: 100%;">IFRI emploi du temps est interfaces web de gestion des <br> emplois du temps et facilite la gestion, la planification et la <br> consultationdes emplois du temps pour les coordinnateurs <br> de formations et des etudiants. Elle offre une experience <br> conviviale et intutive,permettant aux utilisateurs d'interagir <br> efficacement avec les fontiopnnalités de l'application pour <br> une gestion optimale des emplois du temps.  </P>
  </div><br><br><br><br>
   <p style="font-weight: bolder;font-size: 150%; margin-left:21%">Annonce</p>
   <hr style="margin-left:29%; margin-top:-38px; margin-right:25%"><br>
  <div id="divmilieu" style="margin-left: 20%; margin-right: 25%;">
    <a href=""><button  style="margin-left:69%;padding-bottom:-80%;" type="submit">Détails</button></a>
    <p style="color: #ff7f27; font-size: 120%; font-weight: bolder;margin-left:17%; margin-top:-30px;">Conference sur l'intelligence artificielle</p>
    <P style="margin-left:17%;font-weight: bolder;font-size: 95%">25/06/2023</P>
     <hr style="margin-left:17%;; margin-right:25%">
     <a href=""><button  style="margin-left:69%;padding-bottom:-94%;" type="submit">Détails</button></a>
     <p style="color: #ff7f27; font-size: 120%; font-weight: bolder;margin-left:17%; margin-top:-3%;">Conference sur l'intelligence artificielle</p>
    <P style="margin-left:17%;font-weight: bolder;font-size: 95%">25/06/2023</P>
     <hr style="margin-left:17%;; margin-right:25%">
     <a href=""><button  style="margin-left:69%;padding-bottom:-94%;" type="submit">Détails</button></a>
     <p style="color: #ff7f27; font-size: 120%; font-weight: bolder;margin-left:17%; margin-top:-3%;">Conference sur l'intelligence artificielle</p>
    <P style="margin-left:17%;font-weight: bolder;font-size: 95%">25/06/2023</P><br>
    </div>


   <p style="font-weight: bolder;font-size: 150%; margin-left:62%">Contactez nous</p>
   <hr style="margin-left:20%; margin-top:-38px; margin-right:38%"><br><br>
    <div class="formulaire" style="border: outset;margin-left: 20%; margin-right: 25%; text-align: center;">
           <input style="margin-left: 20%;margin-top:3%" type="text" placeholder="Nom" class="ligne">
           <input style="margin-left: 20%;" type="email" placeholder="Email" class="ligne">
           <input  style="padding-top:10%;margin-left: 20%;" type="text" placeholder="Message" class="ligne">
           <div align="center">
             <button class="butt" type="submit">Envoyer</button>
           </div>
    </div><br>
       <footer style="background-color: #15173b; text-align: center;">
          <p style="color: white; padding: 1%;">&copy; 2023 Mon Site. Tous droits réservés.</p>
       </footer>
</body>
</html>
