<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrateurs</title>
    <link rel="stylesheet" href="{%static 'projetept/css/bootstrap.css'%}">

</head>

<body style="background-color: #f7f0f0;">
    <h1 class="text-center navbar navbar-fixed">GESTION D'EMPLOI DU TEMPS</h1>
    <form action="" method="POST" style="border: 5px solid #ffffff;background-color: #fff;">
        {%csrf_token%}
        <div class="container-fluid">
            <div class="row-lg-12">
                <div class="lundi col-lg-2 pull-left">
                    <h2>{{aut.Jour_De_Cour}}</h2>
                </div>
                <div class="col-lg-2">
                    <h2>filiere{{aut.filiere}}</h2>
                </div>
                <div class="col-lg-8">
                    <h2 class="pull-right">Emploi du temps du {{lice.jour_semaine}}</h2>
                </div>
            </div>
            <div class="row-lg-12">
                {{lices.as_p}}
            </div>  

            <div class="row-lg-12">
                <div class="col-lg-4">
                    <input type="submit" value="ENVOYER" class="btn btn-success">
                </div>
                <div class="col-lg-6">
                    
                </div>

            </div>

        </div>
    </form>



    <script src="{% static 'projetept/js/jquery.js'%}"></script>
    <script src="{% static 'projetept/js/bootstrap.js'%}"></script>
    <script src="{% static 'projetept/js/popper.js'%}"></script>
</body>

</html>