<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="H1">Bienvenue à </h1>
        <img src="ifri.jpg">
        <p class="p1">
            Un compte? Connectez-vous. <br>Ou cliquez sur <a href="register.html"> s'incrire</a> 
            pour vous en créer un.
        </p>
    </header>
    <form id="classfrom">
        <h1>Se connecter</h1>
        <div class="socialmedia">
		        </div>
					        <div class="formulaire">
					        	<label>Matricule</label><br>
					           <input type="email" placeholder="Matricule" class="ligne">
					           <label>Mot de passe</label><br>
					           <input type="password" placeholder="Mot de passe" class="ligne">
					       </div>
		       <div align="center">
           <button type="submit">Se connecter</button>
      </div>
        <p ><a class="fin" href="mot de passe oublie.html">Mot de passe oublié?</a><span> ou </span><a class="fin" href="s'inscrire.html">S'incrire</a></p>
        
    </form>
</body>
</html>
