<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Connexion</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{%static 'projetept/css/bootstrap.css'%}">
</head>
<body>
	<header class="navbar navbar-default">
        <h3 class="pull-left">Emploi du Temps</h3>
        <ul class="list-inline nav navbar-nav pull-right">
            <li><a href="{% url 'administration' %}">Administration</a></li>
            <li class="active"><a href="{% url 'etudiant' %}">Etudiant</a></li>
        </ul>
    </header>
	<section>
		{% if warn %}
		<div class="text-center alert alert-warning"> {{erreur}}</div>
		{% endif %}
		<div class="container jumbotron inscrit" style="width: 50%;margin-top: 50px;">
			<h2>Connexion Etudiant(e)</h2>
			<nav class="">
                <form method="post" class="col-lg-6">
                    {%csrf_token%}
				
						{{etud.as_p}}
						<input type="submit" class="btn btn-success">
                </form>
				<a href="{% url 'mdp' %}">Changer mot de passe</a>
			</nav>
			
		</div>
	</section>
		

</body>
</html>