<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Connexion</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{%static 'projetept/css/bootstrap.css'%}">
</head>
<body>


		<div class="container jumbotron inscrit" style="width: 50%;margin-top: 50px;">
			<h2>Connexion Administration</h2>
			<nav class="">
                <form method="post" class="col-lg-6">
                    {%csrf_token%}
				
						{{etud.as_p}}
						<input type="submit" class="btn btn-success">
                </form>
			</nav>
			<a href="{% url 'mdp' %}">Changer mot de passe</a>
		</div>

		

</body>
</html>