body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #93858a;
    font-family: 'Montserrat', sans-serif;
    color: rgb(214, 211, 211);
   
    background-position: center;
    background-size: cover;
}
form{
    margin-top: 20px;
    padding: 40px 40px;
    border-radius: 25px;
    min-width: 300px
    margin-left:-7%;
    padding-top:5px;
    margin-top:32px;
    box-shadow:8px 6px 6px white;
}
.H1{
    color:rgb(228, 215, 215);
    text-align: center;
    margin-left: -131%; 
}
.choix{
    text-align: center;
}
.formulaire{
    display: flex;
    flex-direction: column;
}
.ligne{
    padding:15px;
    border-radius: 15px;
    border: 8px solid #9999;
    background-color: #999999;
    margin-bottom: 15px;
    outline: none;
}
button{
    border-radius: 16px;
    padding: 15px;
    border: none;
    font-size: 18px;
    color: rgb(243, 235, 235);
    background-color:rgb(31, 150, 150);
    cursor:pointer;
}
span{
    color:black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    margin-bottom: 15px;
}
a{
    text-decoration: none;
    color: rgb(228, 215, 215);
}
.fin{
    color: rgb(228, 215, 215);
    text-decoration: underline;
}
a:hover{
    color:aquamarine;
    text-decoration: underline;
}
.socialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.media{
    margin: 7px;
    padding: 5px;
    border: 1px #545454 solid;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}
header{
    text-align: left;
    margin-right: 80px;
}
img{
    width: 20%;
    height:20%;
    margin-left: -23%; 
}
.p1{
    margin-left: -25%; 
}
#classfrom{
    margin-left: -55%; 
}
